html, body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #E8E8E8;
    color: #4F4F4F;
    min-width: 600px;
}

#main {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
}

#title {
    font-size: 48px;
    margin-bottom: 0;
}

#image {
    max-width: 100%;
}

#img-caption {
    margin-top: 10px;
}

#tribute-info {
    margin: 20px 50px;
}

#timeline-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.timeline-item {
    margin: 5px 0;
    border: 3px solid #E0E0E0;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.timeline-item > .year {
    width: 15%;
    font-weight: bold;
    padding: 5px 10px;
}

.timeline-item > .description {
    width: 85%;
    border-left: 2px solid #E0E0E0;
    padding: 5px 10px;
}
